<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.dao.PostitionesMapper">
    <insert id="addPostitions">
       INSERT  INTO P_POSTITIONS(P_POSITION,P_DEPARTMENT_ID,P_USER_ID,P_EMPLOYEE_ID)
        VALUES(#{p_position},#{department.d_id},#{user.u_id},#{employee.e_id})
    </insert>
    <update id="updatePostitions">
       UPDATE P_POSTITIONS SET P_USER_ID=#{user.u_id},P_EMPLOYEE_ID=#{employee.e_id} where p_position=#{p_position}
    </update>
    <update id="updatePostitionsByuande">
      UPDATE P_POSTITIONS SET P_USER_ID=#{user.u_id},P_EMPLOYEE_ID=#{employee.e_id} where p_ID=#{p_id}
    </update>
    <delete id="deletePostitions">
      DELETE FROM P_POSTITIONS WHERE P_ID=#{p_id}
    </delete>
    <select id="getPostitions" resultType="com.cl.model.Postitions">
        SELECT *FROM P_POSTITIONS
    </select>
    <select id="getPostitionsbydeid" resultMap="postanduser">
        SELECT * FROM P_POSTITIONS pp,U_USER us ,E_EMPLOYEE ee WHERE ee.E_ID=pp.P_EMPLOYEE_ID and us.U_ID=pp.P_USER_ID AND P_DEPARTMENT_ID=#{id}
    </select>
    <select id="getPostitionsbyid" resultType="com.cl.model.Postitions">
        SELECT *FROM P_POSTITIONS WHERE P_ID=#{id}
    </select>
    <select id="getPostitonsByuid" resultMap="postanddep">
        SELECT *FROM P_POSTITIONS pp,D_DEPARTMENT dd WHERE dd.D_ID=pp.P_DEPARTMENT_ID and P_USER_ID=#{id}
    </select>
    <select id="getPostitonsByname" resultMap="postanduser">
         SELECT * FROM P_POSTITIONS pp,U_USER us,E_EMPLOYEE ee WHERE ee.E_ID=pp.P_EMPLOYEE_ID and us.U_ID=pp.P_USER_ID AND P_POSITION=#{name}
    </select>
    <select id="getPostitonsBynamenoemploy" resultType="com.cl.model.Postitions">
        SELECT *FROM P_POSTITIONS WHERE P_POSITION=#{name}
    </select>
    <resultMap id="postanduser" type="Postitions">
        <id column="p_id" property="p_id"/>
       <result property="p_position" column="p_position"/>
        <collection property="user" column="p_user_id" ofType="User">
            <id column="u_id" property="u_id"/>
        </collection>
        <collection property="employee" column="p_employee.id" ofType="Employee">
            <id column="e_id" property="e_id"/>
            <result column="e_name" property="e_name"/>
        </collection>
    </resultMap>
    <resultMap id="postanddep" type="Postitions">
        <id column="p_id" property="p_id"/>
        <result property="p_position" column="p_position"/>
        <collection property="department" column="p_departmrnt_id" ofType="Department">
            <id column="d_id" property="d_id"/>
            <result property="d_depat" column="d_depat"/>
        </collection>
    </resultMap>
</mapper>