<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.dao.UserDao">
    <insert id="addUser">
       INSERT INTO U_USER(UNAME,UPASS,AUTHORITY)VALUES (#{uname},#{upass},#{authority})
    </insert>
    <update id="updateUser">
       UPDATE U_USER SET AUTHORITY=#{authority} where u_id=#{u_id}
    </update>
    <delete id="deleteUser">

    </delete>
    <select id="getUser" resultType="com.cl.model.User">
        SELECT * FROM U_USER WHERE UNAME=#{uname} AND UPASS=#{upass}
    </select>
    <select id="getUserbyname" resultType="com.cl.model.User">
        SELECT *FROM U_USER WHERE  UNAME=#{uname}
    </select>
    <select id="getUserByid" resultType="com.cl.model.User">
        SELECT * FROM U_USER WHERE U_ID=#{id}
    </select>
</mapper>
    <!-- Continue going here -->

