<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.dao.WageMapper">
    <insert id="addWage">

    </insert>
    <update id="updateWage">

    </update>
    <delete id="deleteWage">

    </delete>
    <select id="getWageByuid" resultType="com.cl.model.Wage">

    </select>
</mapper>